body {
	background-color:#addbf0;
	
}

body,input,textarea,button {
	font-size:15px;
}

#cursor,#size {
	width:70px;
}

#tResults {
	height:300px;
	width:300px;
}

.box_shadow {
     -moz-box-shadow: 5px 5px 14px #000; /* FF3.5+ */
  -webkit-box-shadow: 5px 5px 14px #000; /* Saf3.0+, Chrome */
          box-shadow: 5px 5px 14px #000; /* Opera 10.5, IE 9 */
}
